*,
*::before,
*::after {
  font-family: kalameh;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html,
body {
  background-color: #222222;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
@font-face {
  font-family: kalameh;
  src: url("/font/Kalameh-Regular.woff2");
}
